<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cumulus Networks</title>
    <meta name="description" content="Cumulus Networks offers a full-featured Linux OS for networking hardware. The first, true Linux operating system for data center networking.">
    <meta name="keywords" content="linux networking operating system, cumulus linux, cumulus networks, linux network os">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <link rel="alternate" type="application/rss+xml" title="Cumulus Networks Blog" href="/blog/feed/" />
    <link rel="shortcut icon" href="static/cumulus/img/cumulus_favicon.ico" />
    <link rel="apple-touch-icon" href="static/cumulus/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="50x50" href="static/cumulus/img/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/cumulus/img/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/cumulus/img/apple-touch-icon-72x72-precomposed.png" />
    <link rel="stylesheet" href="static/cumulus/css/style.css?v=1" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' type='text/css'>
    <link rel="alternate" type="application/rss+xml" href="http://www.cumulusnetworks.com/blog/feed" title="Cumulus Networks Blog's RSS Feed">
    <script src="static/cumulus/js/libs/modernizr.js"></script>
</head>
<body>
<div id="wrap">

    <div id="header">
        <div class="container">
        	<div class="span12">
        		<div class="span5 push">
        			<a href="/" class="logo">Cumulus Networks</a>
        			<a href="javascript: void(0);" class="mobi_handle"></a>
        		</div>
        		<div class="span7">
        			<form action="/search-results/" id="frmSearch"> 
					    <input type="hidden" name="cx" value="partner-pub-002892611423842813337:6ugck8dxsg8" /> 
					    <input type="hidden" name="cof" value="FORID:10" /> 
					    <input type="hidden" name="ie" value="ISO-8859-1" /> 
					    <input type="text" name="q" class="text" placeholder="Search..."  /> 
					    <input type="submit" name="sa" class="submit"  /> 
					</form>
					
					<a href="/secure_login/" class="cta">Login</a>
					
					<ul class="actions">
						<li class="drop"><a href="#">Get Started <i></i></a>
							<ul>
								<li><a href="/product/evaluate/dispatcher/">Create Account</a></li>
								<li><a href="/cumulus-workbench/">Try Cumulus Workbench</a></li>
							</ul>
						</li>
						<li class="drop"><a href="#">Resources <i></i></a>
							<ul>
								<li><a href="/resources/tco-calculator/user-info/">TCO Calculator</a></li>
								<li><a href="/support/faq/">FAQs</a></li>			
								<li><a href="http://oss.cumulusnetworks.com">Open Source Contributions</a></li>
								<li><a href="/webinars/">Webinars</a></li>
							</ul>
						</li>
						<li><a href="/blog/">Blog</a></li>
						<li class="drop"><a href="#">Support <i></i></a>
							<ul>
								<li><a href="/support/overview/">Overview</a></li>
								<li><a href="/support/consulting-and-training/">Consulting &amp; Training</a></li>
								<li><a href="/docs/">Technical Documentation</a></li>
								<li><a href="https://support.cumulusnetworks.com/hc/en-us">Support Portal/Knowledge Base</a></li>
								<li><a href="https://support.cumulusnetworks.com/hc/en-us/articles/201787906-Security-Responses-Updates">Security Announcements</a></li>
								<li><a href="{/support/my-support-requests/" class="lock">My Support Requests <span></span></a></li>
							    <li><a href="/support/new-support-request/" class="lock">Submit a Request <span></span></a></li>
							</ul>
						</li>
						<li class="drop"><a href="#">Sanet Stevens<i></i></a>
							<ul>
								<li><a href="/profile/">Profile</a></li>								
								<li><a href="/downloads/">Downloads</a></li>								
								<li><a href="/console/">Console</a></li>								
								<li><a href="/accounts/logout/">Logout</a></li>
							</ul>					
						</li>
					</ul>
        		</div>
        	</div>
        	<div class="clear"></div>
       	</div>
	</div><!--/Header-->

	<div id="nav" class="logged_in">
		
			<div class="container">
				<ul class="nav">
					<li class="single"><a href="/rethink-network/" {% ifequal on 'rethink_network' %}class="on"{% endifequal %}>Rethink Networking</a></li>
					<li>
						<a href="javascript: void(0);">Product</a>
						<ul>
							<li><a href="/product/overview/">Overview</a></li>
							<li><a href="/product/architecture/">Architecture</a></li>
							<li><a href="/product/pricing/">Pricing</a></li>
							<li><a href="/support/linux-hardware-compatibility-list/">Hardware Compatibility List</a></li>							
							<li><a href="product/open-approach/">Open Approach</a></li>
							<li><a href="/product/case-studies/">Case Studies</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript: void(0);">Solutions</a>
						<ul class="sulutions_menu">
							<li><a href="/solutions/">Overview</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript: void(0);">Partners</a>
						<ul>
							<li><a href="{% url 'partners_channel_partners' %}">Channel Partners</a></li>
							<li><a href="{% url 'partners_technology_partners' %}">Technology Partners</a></li>
							<li><a href="{% url 'partners_resellers_distributors' %}">Resellers &amp; Distributors</a></li>
							<li><a href="{% url 'partners_training' %}" class="lock">Partner Portal <span></span></a>				
						</ul>
					</li>
					<li>
						<a href="javascript: void(0);">News &amp; Events</a>
						<ul>
							<li><a href="{% url 'analyst_coverage' %}">Analyst Coverage</a></li>
							<li><a href="{% url 'corporate_site_events_list' %}">Events</a></li>
							<li><a href="{% url 'corporate_site_media_coverage_list' %}">Media Coverage</a></li>
							<li><a href="{% url 'corporate_site_press_release_list' %}">Press Releases</a></li>
							<li><a href="{% url 'videos' %}">Videos</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript: void(0);">Company</a>
						<ul class="company_menu">
							<li><a href="{% url 'company_about' %}">About Cumulus</a></li>
							<li><a href="/careers/">Careers</a></li>
							<li><a href="{% url 'corporate_site_team_list' %}">Our Team</a></li>
							<li><a href="{% url 'corporate_site_investor_list' %}">Investors</a></li>
							<li><a href="{% url 'corporate_site_contact' %}">Contact</a></li>
						</ul>
					</li>
				</ul>
		       	<div class="clear"></div>
			</div>
	</div>
    
    <div id="messages"></div>

    <div id="main">
    	<div class="container">
    		<div class="span12 content">
    			<h1>Lorem Ipsum</h1>
    			<div class="span12">
                    <h2>cldemo</h2>
                    <p>This repo contains the source for the cldemo packages, these can be used by sales engineers, partners and customers</p>
    			</div>
    		</div>
    	</div><!--/container-->
		<div class="clear"></div>
    </div><!--/Main-->

	<div id="footer">
		<div class="container">
		  	<div class="span2 push">
		  		<h6>Rethink Networking</h6>
		  		<ul>
		  			<li><a href="{% url 'rethink_network' %}">Read about networking<br />for the modern data center</a></li>
		  		</ul>
		  		<h6>Product</h6>
		  		<ul>
		  			<li><a href="{% url 'product_overview' %}">Overview</a></li>
					<li><a href="{% url 'product_architecture' %}">Architecture</a></li>
					<li><a href="/product/pricing/">Pricing</a></li>
					<li><a href="/support/linux-hardware-compatibility-list/">Hardware Compatibility List</a></li>
					<li><a href="{% url 'product_approach' %}">Open Approach</a></li>
					<li><a href="{% url 'product_case_studies' %}">Case Studies</a></li>
					<li><a href="{% url 'eula_latest_view' %}">EULA</a></li>
		  		</ul>
		  	</div>
		  	<div class="span2 push">
		  		<h6>Solutions</h6>
		  		<ul>
		        	<li></li>
		  		</ul>
		  	</div>
		  	<div class="span2 push">
		  		<h6>Partners</h6>
		  		<ul>
					<li><a href="{% url 'partners_channel_partners' %}">Channel Partners</a></li>
					<li><a href="{% url 'partners_technology_partners' %}">Technology Partners</a></li>
					<li><a href="{% url 'partners_resellers_distributors' %}">Resellers &amp; Distributors</a></li>
					<li><a href="{% url 'partners_training' %}" class="lock">Partner Portal <span></span></a></li>
				</ul>
		  	</div>
		  	
		  	<div class="span2 push">
		  		<h6>News &amp; Events</h6>
		  		<ul>
		  			<li><a href="{% url 'analyst_coverage' %}">Analyst Coverage</a></li>
					<li><a href="{% url 'corporate_site_events_list' %}">Events</a></li>
					<li><a href="{% url 'corporate_site_media_coverage_list' %}">Media Coverage</a></li>
					<li><a href="{% url 'corporate_site_press_release_list' %}">Press Releases</a></li>
					<li><a href="{% url 'videos' %}">Videos</a></li>
					<li><a href="{% url 'single_blog_detail' %}">Blog</a></li>
					<li><a href="{% url 'media_kit' %}">Media Kit</a></li>
		  		</ul>
			</div>
		  	<div class="span2 push pc">
		  		<h6>Support</h6>
		  		<ul>
		  			<li><a href="/support/overview/">Overview</a></li>
					<li><a href="{% url 'support_faq' %}">FAQs</a></li>
					<li><a href="/support/consulting-and-training/">Consulting &amp; Training</a></li>
					<li><a href="/support/linux-hardware-compatibility-list/">Hardware Compatibility List</a></li>
					<li><a href="/docs/">Technical Documentation</a></li>
					<li><a href="https://support.cumulusnetworks.com/hc/en-us">Support Portal / Knowledge Base</a></li>
					<li><a href="https://support.cumulusnetworks.com/hc/en-us/articles/201787906-Security-Responses-Updates">Security Announcements</a></li>
					<li><a href="{% url 'my_support_requests' %}" class="lock">Support Requests <span></span></a></li>
		            <li><a href="{% url 'new_support_request' %}" class="lock">Submit a Request <span></span></a></li>
				</ul>
			</div>
			<div class="span2 pc">
		  		<h6>Company</h6>
		  		<ul>
				  	<li><a href="{% url 'company_about' %}">About Cumulus</a></li>
					<li><a href="/careers/">Careers</a></li>
					<li><a href="{% url 'corporate_site_team_list' %}">Our Team</a></li>
					<li><a href="{% url 'corporate_site_investor_list' %}">Investors</a></li>
					<li><a href="{% url 'corporate_site_contact' %}">Contact</a></li>
				</ul>
		  	</div>
		  	<div class="clear"></div>
		  	<div class="span12">
		  		<div class="span3 push">
		  			<a href="/" class="logo_bottom"></a>
		  		</div>
		  		<div class="span3 push">
			  		<div class="foot_social">
			  			<a href="https://www.facebook.com/CumulusNetworks" class="foot_fb" target="_blank"></a>
			  			<a href="https://twitter.com/CumulusNetworks" class="foot_tw" target="_blank"></a>
			  			<a href="https://plus.google.com/113662912213553593675" rel="publisher" class="foot_gplus" target="_blank"></a>
			  			<a href="http://www.linkedin.com/company/cumulus-networks" class="foot_li" target="_blank"></a>
			  			<a href="http://vimeo.com/CumulusNetworks" class="foot_vi" target="_blank"></a>
			  			<a href="http://instagram.com/cumulusnetworks" class="foot_in" target="_blank"></a>
			  		</div>
		  		</div>
		  		<div class="span3 push">
		  			<div class="legal">
		  			   <a href="/privacy/">Privacy Policy</a><br />
		  			   <a href="/legal/">Terms Of Service</a><br />
		               <a href="/trademarks/">Trademarks</a><br />
		  			   <a href="{% url 'sitemap' %}" target="_blank">Sitemap (XML)</a><br />
		  			   <a href="{% url 'sitemap_html' %}" target="_blank">Sitemap (HTML)</a><br />
		  			   <a href="/blog/feed/" target="_blank"><img style="margin-top: 7px;" src="static/cumulus/img/feed-icon-14x14.png"> Feed (XML)</a>
		  			</div>
		  		</div>
		  		<div class="span3">
		  			<div class="legal">&copy; 2014 Cumulus Networks<br /><a href="/">Linux Network Operating System</a><br />Site by <a href="http://unomena.com/" target="_blank">Unomena</a></div>
		  		</div>
		  	</div>
		  	<a href="#wrap" class="top"></a>
		  	<div class="clear"></div>
		 </div>
	</div><!--/Footer-->

</div><!--/Wrap-->
<script src="static/cumulus/js/libs/jquery.js"></script>
<script src="static/cumulus/js/libs/jquery.validate.js"></script>
<script src="static/cumulus/js/libs/jquery.chosen.js"></script>
<script src="static/cumulus/js/scripts.js?v=1"></script>
<!-- Google Code for demystify Your Network Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 983078247;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "hiB9CMmtogcQ56ri1AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/983078247/?label=hiB9CMmtogcQ56ri1AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>